<section class="wrap">
  <div class="card">

    <img src="assets/capibaras/portada.webp.png" alt="Capibara feliz" class="hero"/>
    <h1>¡Hola!</h1>
    <p>¿Quieres jugar con las capibaras?</p>


    <button class="btn" (click)="startQuiz()">¡Sí, jugar!</button>

    <div class="decorations">
      <img src="assets/capibaras/capi-tierna1.webp.png" alt="Capibara bebé" />
      <img src="assets/capibaras/capi-tierna2.webp.png" alt="Capibara jugando" />
      <img src="assets/capibaras/capi-tierna3.webp.png" alt="Capibara con sandía" />
    </div>
  </div>
</section>